{% extends 'layouts/layout.html' %}

{% block header %}{% endblock %}

{% block pagecontent %}
<div class="container">

<div class="hero-unit">
    <h1>Login to Sweet Learning</h1>
<!-- <div class="page-header">
  <h1>Login to Sweet Learning<small> Facebook only at this stage</small></h1> -->
</div>

<div class="row">
  <!-- <div class="span6" style="background-color: #eee; padding: 10px 0;">
  	<h2 class="center">Standard Login <small>Disabled</small></h2>
	  <form class="form-horizontal" action="/login" method="post">
	
	    <div class="control-group">
	      <label class="control-label" for="inputEmail">Email Address</label>
	      <div class="controls">
		      <div class="input-prepend">
		        <span class="add-on"><i class="icon-envelope"></i></span>
		        <input type="text" name="email" id="inputEmail" placeholder="Email" disabled>
		      </div>
			  
	      </div>
	    </div>
		
	    <div class="control-group">
	      <label class="control-label" for="inputPassword">Password</label>
	      <div class="controls">
		      <div class="input-prepend">
		        <span class="add-on"><i class="icon-asterisk"></i></span>
		        <input type="password" name="password" id="inputPassword" placeholder="Password" disabled>
		      </div>
	      </div>
	    </div>
		
	    <div class="control-group">
	      <div class="controls">
	        <button type="submit" class="btn btn-large disabled">Sign in</button>
			{#
				<hr />
				<p><a href="/login/forgot">Forgot password?</a></p>
			#}
	      </div>
	    </div>
	  </form>
  </div>
  --> 
	<div class="span6">
		<p>
			<strong><a href="/auth/facebook" class="btn btn-large btn-primary">Login with Facebook</a></strong>			
		</p>
		<p>
			<a href="/" class="btn btn">Return to Home Page</a>
		</p>
	</div>

</div>

<div class="container center">
			<ul class="links-list">
				<li><a href="/info/contact">Contact</a></li>
				<li><a href="/info/privacy">Privacy</a></li>
				<li>&copy; Sweet Learning 2012</li>
			</ul>	
</div>

	
</div>
{% endblock %}
