			<h3>Testimonials</h3>
			
			<div class="media">
			  <a class="pull-left" href="#">
			    <img class="media-object" src="http://placehold.it/64x64/ffdd66/000000?text=User+Icon">
			  </a>
			  <div class="media-body">
			    <h4 class="media-heading">Dana. Cremorne <small>Yesterday</small></h4>
				Austin has really enjoyed 1.2.3 Sing With Me. Over the past year he has developed a real enjoyment of music &amp; dance and he now knows his colours, opposties, shapes....and of course his numbers.
			  </div>
			</div>
			
			<div class="media">
			  <a class="pull-left" href="#">
			    <img class="media-object" src="http://placehold.it/64x64/ddff66/000000?text=User+Icon">
			  </a>
			  <div class="media-body">
			    <h4 class="media-heading">Victoria. Mosman <small>2 weeks ago</small></h4>
				As a mother of 3 year old twins, I highly recommend 1.2.3 Sing With Me as a weekly activity. With a carefully thought out and well structured format, there is a delighful focus on each child in the class. Numbers, music, singing and instruments are learnt. My girls look forward to these classes and it's boosted their general confidence. Particularly impressive teacher/child interaction.
			  </div>
			</div>
			
			<div class="media">
			  <a class="pull-left" href="#">
			    <img class="media-object" src="http://placehold.it/64x64/66ffdd/000000?text=User+Icon">
			  </a>
			  <div class="media-body">
			    <h4 class="media-heading">Kelly. Naremburn <small>4 months ago</small></h4>
				Both Elysha(4) and Clayton(2) have been enjoying the 1.2.3 Sing With Me program for over a year and I have to say, they have loved every lesson. Since joining the program, both of them have certainly developed an even greater love of music and singing and now especially enjoy making their own music out of traditional and non-traditional instruments. In fact, we now get to enjoy the program too, with a regular "family band time" where the children join us in playing instruments and singing along to a catchy tune usually learnt at 1.2.3 Sing With Me. As a bonus of course, they have both benefited from the inclusion of numbers in the program, with Clayton being able to count to ten really early in his development. The program has been something that they have looked forward to every week and we are sad that it must now come to an end, due to other committments. We hope that what they have learnt through the program will stay with them as they grow. 
			  </div>
			</div>
