{% extends 'layouts/layout.html' %}

{% block title %}Edit Settings{% endblock %}

{% set sections = [
	{key:'info',name:'Personal Details'}, 
	{key:'schools',name:'School Manager'}
] %}

{% block pagecontent %}
<div class="container">

	<div class="row">
		<div class="span3" >
			<div class="well" style="padding: 8px 0">
			<ul class="nav nav-list">
	  		  <li class="nav-header">{{ member.name.display }}</li>
			  {% for s in sections %}
			  <li {% if settings_section == s.key %} class="active"{% endif %}><a href="/settings/{{ s.key }}">{{ s.name }}</a></li>
			  {% endfor %}
			  <li class="divider"></li>
			  <li ><a href="/me"><small>Back to Profile</small></a></li>
			</ul>
			</div>
		</div>
		<div class="span9">
			{% block settingscontent %}{% endblock %}
		</div>
	</div>
</div>

{% endblock %}
