{% extends 'settings/_layout.html' %}

{% block settingscontent %}
	<h1>Your Personal Information</h1>
	<form class="form-horizontal" method="POST" action="/settings/info">
	    <fieldset>
	  <div class="control-group">
	    <label class="control-label" for="inputFirstName">First Name</label>
	    <div class="controls">
	      <input type="text" id="inputFirstName" placeholder="First Name"  name="settings[name][first]" value="{{ settings.name.first }}">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="inputLastName">Last Name</label>
	    <div class="controls">
	      <input type="text" id="inputLastName" placeholder="Last Name"  name="settings[name][last]" value="{{ settings.name.last }}">
	    </div>
	  </div>
{#
	  <!-- <div class="control-group">
	    <label class="control-label" for="inputEmail">Email</label>
	    <div class="controls">
	      <input type="text" id="inputEmail" placeholder="Your Email"  name="settings[email]"  value="{{ settings.email }}">
	    </div>
	  </div> -->
	  <div class="control-group">
	    <label class="control-label" for="inputLocation">Location</label>
	    <div class="controls">
	      <input type="text" id="inputLocation" placeholder="Your Location"  name="settings[location]"  value="{{ settings.location }}">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="inputWebsite">Website</label>
	    <div class="controls">
			<div class="input-prepend">
			  <span class="add-on">http://</span>
		      <input type="text" id="inputWebsite" placeholder="www.example.com"  name="settings[website]" value="{{ settings.website }}">
			</div>
			
	    </div>
	  </div>
	  #}

	  <div class="control-group">
	    <label class="control-label" for="inputBio">About you</label>
	    <div class="controls">
			<textarea class="span5" id="inputBio"  rows="4" name="settings[bio]" placeholder="A little bit about you" class="span6"  data-toggle="autogrow">{{ settings.bio }}</textarea>
	    </div>
	  </div>

	  <div class="control-group">
	    <div class="controls">
	      <button type="submit" class="btn btn-primary">Save Settings</button>
	    </div>
	  </div>
	  <input type="hidden" name="_csrf" value="{{ csrf_token }}" />
	</form>
{% endblock %}
