<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-reorder"></span>
			</button>
			<a class="brand" href="/">
				<span>Sweet Learning</span>
				<img src="/assets/img/l_logo.png" width="20" height="20" /> 
			</a>
			<ul class="nav visible-desktop">
				<li><a href="/"><i class="icon-home icon-large hidden-desktop"></i> Explore</a></li>
				<li class="divider"></li>
    		</ul>
			
			{% if member %}
			<div class="nav-collapse collapse visible-desktop">
				<ul class="nav pull-right">
					<li class="visible-desktop">
					    <a href="/me" >
					    	{{ member.name.first }} <span class="hidden-desktop"> (Profile)</span>
					    </a>
			    	</li>
					<li class="dropdown">
					    <a href="/me" class="dropdown-toggle" data-toggle="dropdown">
					    	<i class="icon-cog icon-large"></i> <b class="caret"></b>
					    </a>
						<ul class="dropdown-menu" role="menu">
							<li><a tabindex="-1" href="/me">Your Profile</a></li>
							<li><a tabindex="-1" href="/settings">Settings</a></li>
							<li class="divider"></li>
							<li><a tabindex="-1" href="/auth/logout">Log Out</a></li>
						</ul>
			    	</li>
	    		</ul>
			</div><!--/.nav-collapse -->
			
			<div class="nav-collapse collapse hidden-desktop">
				<ul class="nav pull-right">
					<li><a href="/"><i class="icon-home icon-large"></i> Explore</a></li>
					<li><a tabindex="-1" href="/me"><i class="icon-user icon-large"></i> Your Profile</a></li>
					<li><a tabindex="-1" href="/settings"><i class="icon-cog icon-large"></i> Settings</a></li>
					<li class="divider"></li>
					<li><a tabindex="-1" href="/auth/logout"><i class="icon-power-off icon-large"></i> Log Out</a></li>
	    		</ul>
			</div><!--/.nav-collapse -->
			
			{% else %}
			<div class="pull-right">
			<a class="btn btn-primary" href="/auth/login">Log In</a>
			</div>
			{% endif %}

		</div>
	</div>
</div>
