<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<div class="row">
				<div class="span8">
					<a class="brand" href="/">Sweet Learning</a>					
					<!-- <form class="navbar-search" action="/search" method="get">
			            <input name="q" {% if q %}value="{{ q }}"{% endif%} type="text" class="search-query span3" placeholder="Search &hellip;">
			        </form> -->
					<span>&nbsp;</span>
					<div class="btn-group left">
						<a class="btn" href="/schools">
							Browse Schools
						</a>
					    <button class="btn dropdown-toggle" data-toggle="dropdown">
					      <span class="caret"></span>
					    </button>
						<ul class="dropdown-menu" role="menu">
							<li><a tabindex="-1" href="/schools/music"> Music Schools</a></li>
							<li><a tabindex="-1" href="/schools/art"> Art Schools</a></li>
							<li><a tabindex="-1" href="/schools/driving"> Driving Schools</a></li>
						</ul>
					</div>					
				</div>
				<div class="span4 right">
					<div class="btn-group left">
						{% if member %}
						<!-- <a class="btn" href="/me"></a> -->
						<a class="btn" href="/me">
							{{ member.name.display }}
						</a>
					    <button class="btn dropdown-toggle" data-toggle="dropdown">
					      <span class="caret"></span>
					    </button>
						<ul class="dropdown-menu" role="menu">
							<li><a tabindex="-1" href="/me"><i class="icon-user"></i> My Profile</a></li>
							<li><a tabindex="-1" href="/settings"><i class="icon-pencil"></i> Settings</a></li>
							<li class="divider"></li>
							<li><a tabindex="-1" href="/info/help"><i class="icon-question-sign"></i> Site Help</a></li>
							<li class="divider"></li>
							<li><a tabindex="-1" href="/auth/logout"><i class="icon-off"></i> Log Out</a></li>
						</ul>
						{% else %}
						<!-- <a class="btn btn-primary" href="/register">Register</a> -->
						<a class="btn" href="/auth/login">Log In</a>
						{% endif %}
					</div>					
				</div>
			</div>
					
	</div>
</div>
</div>	
