{% extends '../app/layout.html' %}

{% block title %}Editing {{ school.name }} (School){% endblock %}

{% block pagecontent %}
<div class="container editor">
	<div class="page-header">
		<b>{{ school.name }}</b>
		<h1><span class="muted">Edit<span class="hidden-phone"> School</span></span> {{sections[section]}}</h1>
		{% if !school.status.active %}
			<a href="{{ school.settings_urlpath }}/account"><span class="label label-important">NOT ACTIVE</span></a>
		{% endif %}
		<a href="{{ school.urlpath }}" class="btn btn-small"><i class="icon-circle-arrow-left hidden-phone"></i> <b>View School</b></a>

	</div>

	<div class="row">
		<div class="span9 pull-right">
			{% block settingscontent %}{% endblock %}
		</div>
		<div class="span3 pull-left" >
			<div class="well well-small" style="padding: 4px 0">
			<ul class="nav nav-list">
  			  <li class="nav-header">Editor Sections</li>
			  {% for s in sections %}
			  <li {% if section == loop.key %}class="active"{% endif %}>
				  <a href="{{ school.settings_urlpath }}/{{ loop.key }}">{{ s }}</a>
			  </li>
			  {% endfor %}
			  <li class="divider"></li>
			  <li ><small><a href="/settings/schools"> Your School Manager</a></small></li>
			</ul>
			</div>
		</div>
	</div>
</div>

{% endblock %}
