{#% extends '_layout.html' %#}

{#% block title %}Adding New School{% endblock %#}

{% block settingscontent %}
<div class="container">
	<div class="page-header">
	  <h1>Adding New School</h1>
	</div>

	<div class="row">
		<div class="span8 main">
			<form method="post" action="/schooladmin/add">
			  <fieldset>
			    <label>School Name</label>
			    <input name="school[name]" type="text" placeholder="Name" class="span6" value="{{ school.name }}">

			    <label>Summary</label>
				<textarea class="span7" id="inputSummary"  rows="2" name="school[summary]" placeholder="Quick Summary. Max 140 characters." class="span6" maxlength="140">{{ school.summary }}</textarea>

			    <label>Website</label>
				<div class="input-prepend">
				  <span class="add-on">http://</span>
			      <input type="text" id="inputWebsite" class="span5" placeholder="example.com"  name="school[www]" value="{{ school.www }}">
				</div>

			    <label>Phone Number</label>
		        <input type="text" id="inputPhone" class="input-medium" placeholder="(XX) XXXX XXXX"  name="school[phone]"  value="{{ school.phone }}">

		  	</fieldset>
				<button type="submit" class="btn">Submit</button>
			    <input type="hidden" name="_csrf" value="{{ csrf_token }}" />
			</form>


		</div>

	</div>
</div>
{% endblock %}
