{% extends 'schooladmin/_layout.html' %}

{% block title %}Adding New School{% endblock %}

{% block settingscontent %}
<div class="container">
	<div class="page-header">
	  <h1>Adding New School</h1>
	</div>

	<div class="row">
		<div class="span8 main">
			<form method="post" action="/settings/schools/add">
			  <fieldset>
			    <label>School Name</label>
			    <input name="school[name]" type="text" placeholder="Name" class="span6" value="{% if school.name %}{{ school.name }}{% endif %}">

			    <label>Quickly about your school</label>
			    <input name="school[quickinfo]" type="text" placeholder="Quick info…" class="span6" value="{{ school.quickinfo }}">

			    <label>First paragraph</label>
				<textarea rows="4" name="school[leading_text]" class="span6">{% if school.leading_text %}{{ school.leading_text }}{% endif %}</textarea>
			    <small class="help-block" >Quick summary. Will be cut to 30 letters max.</small>

		  	</fieldset>
				<button type="submit" class="btn">Submit</button>
			    <input type="hidden" name="_csrf" value="{{ csrf_token }}" />
			</form>
			
			
		</div>
				
	</div>
</div>
{% endblock %}
