{% extends 'schooladmin/_layout.html' %}

{% block settingscontent %}
<form class="" method="POST" action="{{ school.settings_urlpath }}/contact">
    <label class="control-label" for="inputLocation">Location</label>
    <input type="text" id="inputLocation" class="input-large" placeholder="School Location"  name="school[location]"  value="{{ school.location }}">

    <label class="control-label" for="inputWebsite">Website</label>
 		<div class="input-prepend">
		  <span class="add-on">http://</span>
	      <input type="url" id="inputWebsite" class="span5" placeholder="example.com"  name="school[www]" value="{{ school.www }}">
		</div>
			
  <div class="control-group error">
    <label class="control-label" for="inputEmail">Email</label>
      <input type="email" id="inputEmail" placeholder="School Email"  name="school[email]"  value="{{ school.email }}">
    {% if !school.email_verified %}<small class="help-block" >Email Not Verified</small>{% endif %}

    </div>

    <label class="control-label" for="inputPhone">Phone</label>
    <input type="tel" id="inputPhone" class="input-medium" placeholder="(XX) XXXX XXXX"  name="school[phone]"  value="{{ school.phone }}">

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>

  <input type="hidden" name="_csrf" value="{{ csrf_token }}" />
</form>
{% endblock %}
