{% extends 'schooladmin/_layout.html' %}

{% block settingscontent %}
<form method="POST" action="{{ school.settings_urlpath }}/name">
    <label for="inputName">School Name</label>
	<input type="text" id="inputName" class="span5" placeholder="School Name"  name="school[name]" value="{{ school.name }}" maxlength="{{ school.name_maxlength }}" />
		
	<label for="inputWebname">Webname</label>
	<input type="text" id="inputWebname" class="span5" placeholder="School Name"  name="school[webname]" value="{{ school.webname }}"  maxlength="{{ school.webname_maxlength }}"  />
	<small class="help-block" >{{ baseurl }}/<b>{{ school.webname }}</b></small>
	<div class="alert alert-info" ><i class="icon-info-sign"></i> Links from other sites will stop working if you change the webname. Think twice before changing.</div>
	 
    <div class="form-actions">
        <button type="submit" class="btn btn-primary btn-large">Save</button>
    </div>

	<input type="hidden" name="_csrf" value="{{ csrf_token }}" />
</form>
{% endblock %}