{% extends 'layouts/layout.html' %}

{% block pagecontent %}

<div class="container">
<div class="page-header">
  <h1>{{ user.displayName }} <small><a class="btn" href="/me/edit">Edit Profile</a></small></h1>
</div>
<img src="http://placehold.it/150x150/FFFF00/000000&text=Photo" alt="" />

</div>

<div class="container">
  <h2>Your schools</h2>
  {% if schools %}
  <ul>
  {% for school in schools %}
      <li><a href="/schools/{{ school.webname }}">{{ school.name }}</a></li>
  {% endfor %}
  </ul>
  {% endif %}
  <a class="btn" href="/me/addschool">Start New School</a>
</div>

{% endblock %}