{% extends 'layouts/layout.html' %}

{% block pagecontent %}

<div class="container">	

	{% if schools %}
	<ul class="thumbnails">
	{% for school in schools %}
		<li class="span3" >
		  	  <a href="/{{school.webname}}" class="thumbnail">
				  <h4>{{school.name | shorten(20)}}</h4>
  				<p>{{school.summary}}</p>
			</a>
			<span class="label">6mo+</span>
			<a href="#"><span class="label">Music</span></a>
			<span class="label">Movement</span>
			<span class="label">Weekly</span>
			<span class="label">Rhythm</span>
			<span class="label">Singing</span>
		</li>
	{% endfor %}

	</ul>
	{% endif %}

</div>

{% endblock %}
