{% extends 'layouts/layout.html' %}

{% block pagecontent %}

<div class="container">	

	{% if schools %}
	<div class="thumbnails">
	<div class="span3">
	{% for school in schools %}
		  	  <a href="/{{school.webname}}" class="thumbnail" style="margin-bottom: 5px;">
				  <h4>{{school.name}}</h4>
				  {{school.summary}}
			</a>
	{% endfor %}
	</div>
	<div class="span3">
	{% for school in schools|reverse %}
		  	  <a href="/{{school.webname}}" class="thumbnail" style="margin-bottom: 5px;">
				  <h4>{{school.name}}</h4>
				  {{school.summary}}
			</a>
	{% endfor %}
	</div>
	<div class="span3">
	{% for school in schools|reverse %}
		  	  <a href="/{{school.webname}}" class="thumbnail" style="margin-bottom: 5px;">
				  <h4>{{school.name}}</h4>
				  {{school.summary}}
			</a>
	{% endfor %}
	</div>
	<div class="span3">
	{% for school in schools|reverse %}
		  	  <a href="/{{school.webname}}" class="thumbnail" style="margin-bottom: 5px;">
				  <h4>{{school.name}}</h4>
				  {{school.summary}}
			</a>
	{% endfor %}
	</div>
	</div>
	{% endif %}

</div>

{% endblock %}
