{% extends 'layout.html' %}

{% block pagecontent %}
<div class="container">
<div class="page-header">
  <h1>School Browser</h1>
</div>

{% if schools %}
<ul class="thumbnails">
{% for school in schools %}
	<li class="span4">
	  	  <a href="/schools/{{school.webname}}" class="thumbnail">
	  	      <img src="http://placehold.it/300x120&text={{school.name}}" alt="">
	        <h3>{{school.name}}</h3>
	        <p>{{school.catchphrase}}</p>
  	  </a>
	</li>
{% endfor %}
</ul>
{% endif %}
 
</div>
{% endblock %}
