{% extends '../app/layout.html' %}

{% block pagecontent %}
<div class="masthead">
<div class="container">
<h1>Sweet Learning</h1>
<p class="tagline">where good teachers are easy to find</p>
</div>
</div>

<div class="marketing">
<div class="container">
<div class="row">
<div class="span4">
<h3>Your Free Listing</h3>
<p>Get a FREE listing for your business, no matter how small or big. There are no fees for listing on <strong>Sweet Learning</strong>.</p>
<p>Zero fees means no commitment on your part. You're free to try it out for as long as you like.</p>
</div>
<div class="span4">
<h3>With Lots of Info</h3>
<p>List everything about your business. Outlines, prices, curriculum, pictures, maps and much more - you control it.</p>
<p>Link to your website, Facebook, Twitter and other pages so people can find you faster.</p>
</div>
<div class="span4">
<h3>And Social Tools</h3>
<p>Share knowledge to attract students and showcase your authority in the field. Be active in the community of peers.</p>
<p>Get people to ask questions and provide feedback through your page. </p>
</div>
</div>
</div>
</div>

{% endblock %}
