{% extends '../app/layout.html' %}

{% block title %}Member Help{% endblock %}


{% block pagecontent %}

<header class="masthead subhead">
<div class="container">
    <h1>Get help with Sweet Learning</h1>
    <p class="lead">Common Questions and Answers</p>
</div>
</header>

<div class="container">
  <div class="row-fluid">

    <div class="span3">
			<div class="well" style="padding: 4px">
      <ul class="nav nav-pills nav-stacked info-sidenav">
        <li class="nav-header">Help Sections</li>
        <li class="active">
          <a href="#profile">Your Profile</a>
        </li>
        <li><a href="#schools">Schools</a></li>
        <li><a href="#contributing">Contributing</a></li>
      </ul>
    </div>
    </div>
    <div class="span9">

      <section id="profile">
        <div class="page-header">
          <h1>Managing Your Profile</h1>
        </div>

        <div class="question">
          <h3>And Social Tools</h3>
          <p>Share knowledge to attract students and showcase your authority in the field. Be active in the community of peers.</p>
          <p>Get people to ask questions and provide feedback through your page. </p>
        </div>

        <div class="question">
          <h3>And Social Tools</h3>
          <p>Share knowledge to attract students and showcase your authority in the field. Be active in the community of peers.</p>
          <p>Get people to ask questions and provide feedback through your page. </p>
        </div>

        <div class="question">
          <h3>And Social Tools</h3>
          <p>Share knowledge to attract students and showcase your authority in the field. Be active in the community of peers.</p>
          <p>Get people to ask questions and provide feedback through your page. </p>
        </div>
      </section>

      <section id="schools">
        <div class="page-header">
          <h1>Schools and Courses</h1>
        </div>

        <div class="question">
          <h3>And Social Tools</h3>
          <p>Share knowledge to attract students and showcase your authority in the field. Be active in the community of peers.</p>
          <p>Get people to ask questions and provide feedback through your page. </p>
        </div>

        <div class="question">
          <h3>And Social Tools</h3>
          <p>Share knowledge to attract students and showcase your authority in the field. Be active in the community of peers.</p>
          <p>Get people to ask questions and provide feedback through your page. </p>
        </div>

        <div class="question">
          <h3>And Social Tools</h3>
          <p>Share knowledge to attract students and showcase your authority in the field. Be active in the community of peers.</p>
          <p>Get people to ask questions and provide feedback through your page. </p>
        </div>
      </section>

      <section id="contributing">
        <div class="page-header">
          <h1>Contributing</h1>
        </div>

        <div class="question">
          <h3>And Social Tools</h3>
          <p>Share knowledge to attract students and showcase your authority in the field. Be active in the community of peers.</p>
          <p>Get people to ask questions and provide feedback through your page. </p>
        </div>

        <div class="question">
          <h3>And Social Tools</h3>
          <p>Share knowledge to attract students and showcase your authority in the field. Be active in the community of peers.</p>
          <p>Get people to ask questions and provide feedback through your page. </p>
        </div>

        <div class="question">
          <h3>And Social Tools</h3>
          <p>Share knowledge to attract students and showcase your authority in the field. Be active in the community of peers.</p>
          <p>Get people to ask questions and provide feedback through your page. </p>
        </div>
      </section>


    </div>
  </div>
</div>

{% endblock %}
