{% extends 'app/layout.html' %}

{% block title %}Profile of {{ profile.name.display }}{% endblock %}

{% block pagecontent %}

{% if profile.id == member.id %}
<a href="/settings" class="editaction">Edit Profile</a>
{% endif %}

<div class="container">
  <div class="row">

    <div class="span9">

      <h1>{{ profile.name.display }}</h1>

      <p class="lead">{{ profile.bio }}</p>

      {% include 'member/_schools.html' %}

    </div>

    <div class="span3">
      {% if profile.facebook %}
      <img
        src="http://graph.facebook.com/{{ profile.facebook.profile.id }}/picture?width=200&height=200"
        class="img-circle"
      />
      <br />
      {% endif %}

       <dl>
        {% if profile.location %}
         <dt>Location</dt>
         <dd>{{ profile.location }}</dd>
        {% endif %}

        {% if profile.website %}
         <dt>Website</dt>
         <dd><a href="http://{{ profile.website }}" rel="nofollow">{{ profile.website }}</a></dd>
        {% endif %}

         <dt>Joined</dt>
         <dd>{{ profile.created | date("M j, Y", "+11") }}</dd>

       </dl>
       <p>
        {% if profile.facebook %}
        <a href="{{ profile.facebook.profile.link }}"><i class="icon-facebook-sign icon-2x"></i></a>
        {% endif %}

        {% if profile.twitter %}
        <a href="{{ profile.twitter.profile.link }}"><i class="icon-twitter-sign icon-2x"></i></a>
        {% endif %}

        {% if profile.linkedin %}
        <a href="{{ profile.linkedin.profile.link }}"><i class="icon-linkedin-sign icon-2x"></i></a>
        {% endif %}
       </p>

    </div>
  </div>
</div>

{% endblock %}
