{% extends 'layouts/layout.html' %}

{% block title %}Profile of {{ profile.name.display }}{% endblock %}

{% block pagecontent %}

<div class="container">
<div class="row">
		
	<div class="span3">
		{% if member.facebook %}
		<img src="http://graph.facebook.com/{{ profile.facebook.profile.id }}/picture?width=200&height=200"  class="img-polaroid" /><br />
		{% endif %}
	   <dl>
	 	  {% if profile.location %}
		   <dt>Location</dt>
		   <dd>{{ profile.location }}</dd>
	 	  {% endif %}

		  {% if profile.website %}
		   <dt>Website</dt>
		   <dd><a href="http://{{ profile.website }}" rel="nofollow">{{ profile.website }}</a></dd>
		  {% endif %}

		   <dt>Joined</dt>
		   <dd>{{ profile.created | date("M j, Y", "+11") }}</dd>

	   </dl>
	<p>
		{% if member.facebook %}
 		<a href="{{ profile.facebook.profile.link }}"><i class="icon-facebook-sign icon-2x"></i></a>
		{% endif %}
		
		{% if member.twitter %}
 		<a href="{{ profile.twitter.profile.link }}"><i class="icon-twitter-sign icon-2x"></i></a>
		{% endif %}
		
		{% if member.linkedin %}
 		<a href="{{ profile.linkedin.profile.link }}"><i class="icon-linkedin-sign icon-2x"></i></a>
		{% endif %}
   </p>

	</div>
	<div class="span9">
		<div class="row">
			<div class="span6">
				<h1>{{ profile.name.display }}</h1>
			</div>
			<div class="span3 right">
				{% if profile.id == member.id %}
				<a class="btn btn-inverse" href="/settings"><i class="icon-pencil icon-white"></i> Edit Profile</a>
				{% endif %}
			</div>
		</div>
		<p class="lead">{{ profile.bio }}</p>
		<hr>
		<a href="/settings/schools" class="btn btn-">Manage Schools</a>
	</div>
</div>	

</div>

{% endblock %}
