{% extends 'layouts/layout.html' %}

{% block title %}Edit Settings{% endblock %}

{% block pagecontent %}

<div class="container">

	<div class="row">
	<div class="span3" >
		<div class="well" style="padding: 8px 0">
		<ul class="nav nav-list">
  		  <li class="nav-header">{{ member.name.display }}</li>
		  <li class="active"><a href="/settings/personal">Personal Info</a></li>
		  <li><a href="/settings/email">Email Address</a></li>
		  <li><a href="/settings/login">Login Details</a></li>
		</ul>
		</div>
		<small class="muted">Only you can see this information</small>
	</div>
	<div class="span9">
		<div class="row">
			<div class="span6">
				<h1>Personal Information</h1>
			</div>
			<div class="span3 right">
				<a class="btn btn-inverse" href="/me"><i class="icon-user icon-white"></i> Back to Profile</a>
			</div>
		</div>
	<form class="form-horizontal" method="POST" action="/settings">
	    <fieldset>
	  <div class="control-group">
	    <label class="control-label" for="inputFirstName">First Name</label>
	    <div class="controls">
	      <input type="text" id="inputFirstName" placeholder="First Name"  name="settings[name][first]" value="{{ settings.name.first }}">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="inputLastName">Last Name</label>
	    <div class="controls">
	      <input type="text" id="inputLastName" placeholder="Last Name"  name="settings[name][last]" value="{{ settings.name.last }}">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="inputEmail">Email</label>
	    <div class="controls">
	      <input type="text" id="inputEmail" placeholder="Your Email"  name="settings[email]"  value="{{ settings.email }}">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="inputLocation">Location</label>
	    <div class="controls">
	      <input type="text" id="inputLocation" placeholder="Your Location"  name="settings[location]"  value="{{ settings.location }}">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="inputWebsite">Website</label>
	    <div class="controls">
			<div class="input-prepend">
			  <span class="add-on">http://</span>
		      <input type="text" id="inputWebsite" placeholder="www.example.com"  name="settings[website]" value="{{ settings.website }}">
			</div>
			
	    </div>
	  </div>

	  <div class="control-group">
	    <label class="control-label" for="inputBio">About you</label>
	    <div class="controls">
			<textarea class="span5" id="inputBio"  rows="4" name="settings[bio]" placeholder="A little bit about you" class="span6">{{ settings.bio }}</textarea>
	    </div>
	  </div>

	  <div class="control-group">
	    <div class="controls">
	      <button type="submit" class="btn btn-primary">Save Settings</button>
		  <a href="/me" class="btn">Cancel</a>
	    </div>
	  </div>
	</form>
</div>
</div>

</div>

{% endblock %}
