{% extends 'app/layout.html' %}

{% block title %}
{% if field %}Music {% endif %}Schools{% if location %} in and around Coogee{% endif %}
{% endblock %}

{% block pagecontent %}
<div class="container">
<div class="page-header">
  <h1>{% if field %}Music {% endif %}Schools{% if location %} near Coogee{% endif %}</h1>
</div>

{% if schools %}
<div class="thumbnails">
<div class="span3">
{% for school in schools %}
	  	  <a href="/{{school.webname}}" class="thumbnail" style="margin-bottom: 5px;">
			  <h4>{{school.name}}</h4>
			  {{school.summary}}
		</a>
{% endfor %}
</div>
<div class="span3">
{% for school in schools|reverse %}
	  	  <a href="/{{school.webname}}" class="thumbnail" style="margin-bottom: 5px;">
			  <h4>{{school.name}}</h4>
			  {{school.summary}}
		</a>
{% endfor %}
</div>
<div class="span3">
{% for school in schools|reverse %}
	  	  <a href="/{{school.webname}}" class="thumbnail" style="margin-bottom: 5px;">
			  <h4>{{school.name}}</h4>
			  {{school.summary}}
		</a>
{% endfor %}
</div>
<div class="span3">
{% for school in schools|reverse %}
	  	  <a href="/{{school.webname}}" class="thumbnail" style="margin-bottom: 5px;">
			  <h4>{{school.name}}</h4>
			  {{school.summary}}
		</a>
{% endfor %}
</div>
</div>
{% endif %}

</div>
{% endblock %}
