{% extends 'layouts/layout.html' %}

{% block title %}{{ school.name }} - School Information{% endblock %}

{% block pagecontent %}
<!-- {{ school._id }} -->
<div class="page-header">
<div class="container">
				<h1>{{ school.name }}</h1>
				
				{% if school.summary %}
				<p class="lead">{{ school.summary }}</p>
				{% endif %}

				<ul class="nav nav-pills lead">
					{% if school.phone %}
						<li class="phone"><a href="tel: {{ school.phone }}" ref="tel"><i class="icon-phone-sign  hidden-phone"></i> <b>{{ school.phone }}</b></a></li>
					{% endif %}
					{% if school.www %}
					<li class="www">
						<a href="http://{{ school.www }}" target="_new" title="Visit School Website">
						<i class="icon-globe hidden-phone"></i> http://{{school.www|shorten(15)}}
						</a>
					</li>
					{% endif %}
					{% if school.email %}
					<li class="email">
						<a href="mailto:{{ school.email }}" title="Send Email to School" >
						<i class="icon-envelope hidden-phone"></i> {{school.email}}
						</a>
					</li>
					{% endif %}
					{% if school.location %}
					<li>
						<a href="http://maps.google.com.au/maps?q={{ school.location }}" target="_new">
							<i class="icon-map-marker hidden-phone"></i> {{ school.location }}
						</a>
					</li>
					{% endif %}
				</ul>
				
			</div>
</div>

<div class="container">
	<div class="row">
		<div class="span4 pull-right">
			<ul class="nav nav-tabs nav-stacked">
		  	  <li class="active">
		  	    <a href="#">Overview</a>
		  	  </li>
		  	  <li><a href="#">Classes (12)</a></li>
		  	  <li><a href="#">Discussions (1232)</a></li>
		  	  <li><a href="#">Downloads (25)</a></li>
			</ul>
			{% if isadmin %}
			<a class="btn btn-inverse btn-block btn-large" href="{{ school.settings_urlpath }}"><i class="icon-edit"></i> Edit School Settings</a>
			{% endif %}			
		</div>
		<div class="span8 pull-left">
			{% if school.description %}
			<p>
			{% autoescape false %}
			{{ school.description }}
			{% endautoescape %}
			</p>
			{% endif %}			
		</div>
	</div>	
</div>
{% endblock %}
